
node_modules/.package-lock.json
node_modules/ng2-search-filter/bundles/ng2-search-filter.umd.js
node_modules/ng2-search-filter/bundles/ng2-search-filter.umd.js.map
node_modules/ng2-search-filter/bundles/ng2-search-filter.umd.min.js
node_modules/ng2-search-filter/bundles/ng2-search-filter.umd.min.js.map
node_modules/ng2-search-filter/index.d.ts
node_modules/ng2-search-filter/LICENSE
node_modules/ng2-search-filter/ng2-search-filter.d.ts
node_modules/ng2-search-filter/ng2-search-filter.es5.js
node_modules/ng2-search-filter/ng2-search-filter.es5.js.map
node_modules/ng2-search-filter/ng2-search-filter.js
node_modules/ng2-search-filter/ng2-search-filter.js.map
node_modules/ng2-search-filter/ng2-search-filter.metadata.json
node_modules/ng2-search-filter/package.json
node_modules/ng2-search-filter/README.md
node_modules/ng2-search-filter/src/ng2-filter.module.d.ts
node_modules/ng2-search-filter/src/ng2-filter.pipe.d.ts
package.json
package-lock.json
