<div class="box">
<form class="container" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div>
    <p>
      <ngb-alert
        [dismissible]="true"
        *ngIf="showAlert"
        (closed)="close()"
      >
        <strong>Attenzione!</strong> {{error}}
      </ngb-alert>
    </p>
  </div>
    <div class="form-floating  mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required ngModel />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required ngModel />
      <label for="floatingPassword">Password</label>
    </div>
    <div class="mb-3 form-check">
      <label>
      <input type="checkbox" value="remember-me" />
      Remember me
    </label>
    </div>
    <div class="column">
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
    <button [routerLink]="['/sign-up']" type="submit" class="btn btn-primary">
      Register</button>
    </div>
  </form>
</div>
