.container-fluid{
    background: linear-gradient(295deg, rgba(255,255,255,1) 0%, rgba(251,175,9,1) 56%, rgba(251,28,45,1) 76%);
}

i{
    font-size: 35px;
}
.bi-whatsapp{
    color: green;
}
.bi-instagram{
    // color:rgb(85, 3, 44);
    color:#40077a
}
.bi-facebook{
    color:blue;
}
button{
    border:none
}
@media screen and (max-width:1081px)  {
    .sletter{
        margin: auto;
    }
}