.container-fluid{
    background: linear-gradient(270deg, rgba(255,255,255,1) 20%, rgba(251,175,9,1) 50%, rgba(251,28,45,1) 76%);

}
i{
    font-size: 35px;
}
.bi-whatsapp{
    color: green;
}
.bi-instagram{
    // color:rgb(85, 3, 44);
    color:#40077a
}
.bi-facebook{
    color:blue;
}