<h2>Giochi in <strong class="text-primary">Evidenza</strong></h2>
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="box">
		<div >
			<div class="picsum-img-wrapper">
				<img src="https://picsum.photos/200" alt="Random first slide" />
			</div>
			<div>
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				<button class="bttn" (click)="like()"><i class="bi bi-heart"></i></button>
				<button class="bttn"><i class="bi bi-info-circle"></i></button>
				<button class="bttn"><i class="bi bi-cart4"></i></button>
			</div>
		</div>
		<div>
			<div class="picsum-img-wrapper">
				<img src="https://picsum.photos/200" alt="Random first slide" />
			</div>
		<div>
			<h3></h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			<button class="bttn" (click)="like()"><i class="bi bi-heart"></i></button>
			<button class="bttn"><i class="bi bi-info-circle"></i></button>
			<button class="bttn"><i class="bi bi-cart4"></i></button>
		</div>
		</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="box">
			<div>
		<div class="picsum-img-wrapper">
			<img src="https://picsum.photos/200" alt="Random second slide" />
		</div>
		<div>
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<button class="bttn"><i class="bi bi-heart"></i></button>
		<button class="bttn"><i class="bi bi-info-circle"></i></button>
		<button class="bttn"><i class="bi bi-cart4"></i></button>
	</div>
	</div>
	<div>
		<div class="picsum-img-wrapper">
			<img src="https://picsum.photos/200" alt="Random second slide" />
		</div>
		<div>
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<button class="bttn"><i class="bi bi-heart"></i></button>
		<button class="bttn"><i class="bi bi-info-circle"></i></button>
		<button class="bttn"><i class="bi bi-cart4"></i></button>
	</div>
	</div>
	</div>
	</ng-template>
</ngb-carousel>
<h2>Giochi di <strong class="text-danger">Tendenza</strong></h2>
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="box">
		<div>
			<div class="picsum-img-wrapper">
				<img src="https://picsum.photos/200" alt="Random first slide" />
			</div>
			<div>
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				<button class="bttn" (click)="like()"><i class="bi bi-heart"></i></button>
				<button class="bttn"><i class="bi bi-info-circle"></i></button>
				<button class="bttn"><i class="bi bi-cart4"></i></button>
			</div>
		</div>
		<div>
			<div class="picsum-img-wrapper">
				<img src="https://picsum.photos/200" alt="Random first slide" />
			</div>
		<div>
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			<button class="bttn" (click)="like()"><i class="bi bi-heart"></i></button>
			<button class="bttn"><i class="bi bi-info-circle"></i></button>
			<button class="bttn"><i class="bi bi-cart4"></i></button>
		</div>
		</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="box">
			<div>
		<div class="picsum-img-wrapper">
			<img src="https://picsum.photos/200" alt="Random second slide" />
		</div>
		<div>
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<button class="bttn"><i class="bi bi-heart"></i></button>
		<button class="bttn"><i class="bi bi-info-circle"></i></button>
		<button class="bttn"><i class="bi bi-cart4"></i></button>
	</div>
	</div>
	<div>
		<div class="picsum-img-wrapper">
			<img src="https://picsum.photos/200" alt="Random second slide" />
		</div>
		<div>
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<button class="bttn"><i class="bi bi-heart"></i></button>
		<button class="bttn"><i class="bi bi-info-circle"></i></button>
		<button class="bttn"><i class="bi bi-cart4"></i></button>
	</div>
	</div>
	</div>
	</ng-template>
</ngb-carousel>
<h2>Giochi in <strong class="text-warning">Sconto</strong></h2>
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="box">
		<div>
			<div class="picsum-img-wrapper">
				<img src="https://picsum.photos/200" alt="Random first slide" />
			</div>
			<div>
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				<button class="bttn" (click)="like()"><i class="bi bi-heart"></i></button>
				<button class="bttn"><i class="bi bi-info-circle"></i></button>
				<button class="bttn"><i class="bi bi-cart4"></i></button>
			</div>
		</div>
		<div>
			<div class="picsum-img-wrapper">
				<img src="https://picsum.photos/200" alt="Random first slide" />
			</div>
		<div>
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			<button class="bttn" (click)="like()"><i class="bi bi-heart"></i></button>
			<button class="bttn"><i class="bi bi-info-circle"></i></button>
			<button class="bttn"><i class="bi bi-cart4"></i></button>
		</div>
		</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="box">
			<div>
		<div class="picsum-img-wrapper">
			<img src="https://picsum.photos/200" alt="Random second slide" />
		</div>
		<div>
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<button class="bttn"><i class="bi bi-heart"></i></button>
		<button class="bttn"><i class="bi bi-info-circle"></i></button>
		<button class="bttn"><i class="bi bi-cart4"></i></button>
	</div>
	</div>
	<div>
		<div class="picsum-img-wrapper">
			<img src="https://picsum.photos/200" alt="Random second slide" />
		</div>
		<div>
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<button class="bttn"><i class="bi bi-heart"></i></button>
		<button class="bttn"><i class="bi bi-info-circle"></i></button>
		<button class="bttn"><i class="bi bi-cart4"></i></button>
	</div>
	</div>
	</div>
	</ng-template>
</ngb-carousel>

<!-- <h2>Gioch  in <strong class="text-primary">Evidenza</strong></h2>
<h2>Giochi di <strong class="text-danger">Tendenza</strong></h2>
<h2>Giochi in <strong class="text-warning">Sconto</strong></h2>

		<button class="bttn"><i class="bi bi-heart "></i></button>
		<button class="bttn"><i class="bi bi-info-circle"></i></button>
		<button class="bttn"><i class="bi bi-cart4"></i></button> -->
