h2{
    text-align: center
}
ngb-carousel{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
}

img{
    margin-right: 10px;
    width: 200px;
    height: 125px;
}
button{
    margin-bottom: 50px;
}
h3{
    font-size: 19px;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.bttn, .bttn2, .bttn3 {
    border-radius:50px;
    border: none;
    margin-right: 5px;
    color: grey;
}
.bttn2{
    background-color: green;
    color: whitesmoke;
}
.like{
    background-color: red;
}
