  <div class="box mx-2 fixed-top">
  <button class="border-danger border-3 rounded-5 bg-warning " [routerLink]="['/']"><i class="bi bi-arrow-left-short text-dark"></i></button>
  <button class="border-danger border-3 rounded-5 bg-warning "><a href="#up"><i class="bi bi-arrow-up-short text-dark"></i></a></button>
  </div>
  <div id="up" *ngFor="let game of games | slice:0:20; index as i;">
    <div class="card mb-3 mx-5 my-2" *ngFor="let store of game?.stores| slice:0:1;">
      <div  *ngFor="let platform of game?.parent_platforms| slice:0:1;index as i;">
        <div class="d-flex g-0" *ngFor="let genre of game?.genres| slice:0:1;">
          <div class="col-md-4">
            <img src="{{game.background_image}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8" >
            <div class="card-body">
              <h5 class="card-title">{{game.name}}</h5>
              <p class="card-text">It's a play': {{genre.name}}'</p>
              <p class="card-text">This game it's buy on: '{{store.store.name}}'</p>
              <p class="card-text" >and it's playable on: {{platform.platform.name}}</p>
              <p class="card-text"><small class="text-muted">released: {{game.released}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


