<div class="box">
  <form class="container" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingName" placeholder="Name" name="name" ngModel required />
        <label for="floatingName">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingLastName" placeholder="Surname" name="lastName" ngModel required />
        <label for="floatingLastName">Surname</label>
      </div>
      <div class="form-floating mb-3">
        <input type="floatingPassword" class="form-control" id="floatingPassword" placeholder="Password" name="password" ngModel required />
        <label for="floatingPassword">Password</label>
      </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" ngModel required />
      <label for="floatingInput">Email address</label>
    </div>
    <button  type="submit" class="btn btn-primary" [disabled]="!f.valid">Register</button>
  </form>
</div>
